/* .wrapper {
  max-width: 1280px;
  margin: 0 auto;
} */
.trans:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  transition-timing-function: ease-in;
}
.bgDr {
  background-color: rgb(93, 221, 93);
}
.icons:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
  transition-timing-function: ease-in;
}